<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <div id="app">

        <div v-if='isLogin'>请登录</div>
        <div v-else>登陆成功</div>

        <div v-show='isLogin'>show</div>

        <div v-if='str == "A"'>A</div>
        <div v-else-if='str == "B"'>B</div>
        <div v-else-if='str == "C"'>C</div>
        <div v-else>啥也不是</div>
        
    </div>
    <script src="./vue.js"></script>
    <script>
        new Vue({
            el: '#app',
            data: {
                isLogin: false,
                str: 'A',
            }
        })
    </script>
</body>

</html>